
.DS_Store
obsolete/
Spec_close_BBGL.png
*.png
z_output_no_IC/mpBBEL.pickle
z_output_no_IC/mpBBEU.pickle
z_output_no_IC/mpBBGL.pickle
z_output_no_IC/mpBBGU.pickle
z_output_no_IC/mpBBWL.pickle
z_output_no_IC/mpBBWU.pickle
*.log
*.pickle
output/mpBBGL_short.pickle
output/mpBBGL_short.pickle
*.pickle
plot_med_spec_HF.py
*.afdesign
